html, body {
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #260065;
}

#icons img {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}

#icons img:hover {
    transform: scale(1.2); 
}

#icons img:active {
    opacity: .8;
}

#time, #other {
    margin: 10px auto;
    border-radius: 5px;
    color: grey;
    border-color: #aea397;
    padding: 5px;
}
#time {
    display: block;
}

#other{
    width: 100px;
}

#add-site {
    width: 50px;
    height: 20px;
}

#add-site:hover,#icons img:hover,#study:hover  {
    cursor: pointer;
}

#add-site:active, #study:active {
    opacity: .8;
}

.icon-container {
    display: inline-block;
    width: 60px;
}

#heading {
    font-size: 1.5em;
    padding: 5px;
}

.social-button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

#add-site {
    background-color: #260065;
    color: white;
}

.study-button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: 2px #462085 solid;
    color: #462085;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}

.study-button[active=true] {
   border: 2px #e83a0e solid;
   color: #e83a0e; 
}

.hide {
    display: none;
}
.show{
    display: block;
}
